---
layout: default
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Pocketing 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130128

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contact Allergies</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700" rel="stylesheet" type="text/css" />
    <link href="{{ "assets/css/default.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
      <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header-wrapper">
        <div id="header" class="container">
          <div id="logo">
            <h1><a href="{{ "" | relative_url }}/">Contact Allergens</a></h1>
          </div>
          <div id="menu">
            <ul>
              <li id="homeLink"><a href="{{ "" | relative_url }}/" accesskey="1" title="">Home</a></li>
              <li><a id="allergensLink" href="{{ "allergens" | relative_url }}" accesskey="2" title="">Allergens</a></li>
              <li><a id="infoLink" href="{{ "info" | relative_url }}" accesskey="3" title="">Information</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="page" class="container">
        {{content}}
      </div>
      <div id="footer">
        <p>&copy; Nick Fish. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Ideas for improvement? Please open an issue on <a href="https://github.com/thenickfish/allergy">GitHub</a>.</p>
      </div>
    </div>
  </body>

  <script>
    let id;
    if (window.location.pathname.replace('{{ ""| relative_url }}', '').length > 1) {
      id = window.location.pathname.split('/')[2] + 'Link';
    } else {
      id = 'homeLink';
    }
    document.getElementById(id).classList.add('active');
  </script>
</html>
